div.date-picker {
  border: var(--default-border);
  position: fixed;
  background-color: white;
  border-radius: 4px;
  padding: 4px 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  user-select: none;
}

div.date-picker .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #888;
}

div.date-picker .header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  color: black;
}

div.date-picker .header-row .control {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
}

div.date-picker .header-row .control:hover {
  background-color: var(--transparent-bg-color-hover);
}

div.date-picker .header-row .control:active {
  background-color: var(--transparent-bg-color-active);
}

div.date-picker .week-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;
}

div.date-picker .week-row div {
  display: block;
  width: 32px;
  text-align: center;
  padding: 4px 8px;
}

div.date-picker .item {
  display: block;
  width: 32px;
  text-align: center;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 4px;
}

div.date-picker .current-month {
  color: black;
}

div.date-picker .selected {
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
}

div.date-picker .item:hover {
  background-color: var(--transparent-bg-color-hover);
}

div.date-picker .item:active {
  background-color: var(--transparent-bg-color-active);
}

div.date-picker .selected:hover {
  background-color: var(--primary-bg-color-hover);
}

div.date-picker .selected:active {
  background-color: var(--primary-bg-color-active);
}
