::placeholder {
  color: var(--color-divider);
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

div.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input,
button,
select {
  padding: var(--default-padding);
  border: var(--default-border);
  border-radius: 4px;
  cursor: pointer;
}

select {
  padding-right: 32px;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 12px top 50%;
  background-size: 10px auto;
}

fieldset {
  border: var(--default-border);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 8px 32px 8px 8px;
}

fieldset > label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

textarea {
  padding: var(--default-padding);
  border: var(--default-border);
  border-radius: 4px;
}

/* Search field */

div.search-result {
  border: var(--default-border);
  position: fixed;
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  min-width: 600px;
}

div.search-result-item {
  background-color: var(--transparent-bg-color);
  padding: 4px 12px;
  font-size: 12px;
  cursor: pointer;
}

div.search-result-item:hover {
  background-color: var(--transparent-bg-color-hover);
}

div.search-result-item:active {
  background-color: var(--transparent-bg-color-active);
}

/* Button */

button {
  border-radius: 4px;
  border: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-fg-color);
}

button:hover {
  background-color: var(--primary-bg-color-hover);
}

button:active {
  background-color: var(--primary-bg-color-active);
}

button.is-link {
  background-color: var(--transparent-bg-color);
  color: var(--transparent-fg-color);
  text-decoration: underline;
}

button.is-link:hover {
  background-color: var(--transparent-bg-color-hover);
}

button.is-link:active {
  background-color: var(--transparent-bg-color-active);
}

button.is-secondary {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-fg-color);
}

button.is-secondary:hover {
  background-color: var(--secondary-bg-color-hover);
}

button.is-secondary:active {
  background-color: var(--secondary-bg-color-active);
}

