@import "form.css";
@import "table.css";
@import "navigation.css";
@import "layout.css";
@import "modal.css";
@import "shadows.css";
@import "typography.css";

:root {
  --color-a: #ff595e;
  --color-b: #ffca3a;
  --color-c: #8ac926;
  --color-d: #1982c4;
  --color-e: #6a4c93;

  --color-divider: #ced4da;

  --background-1: #f8fafc;
  --background-2: #f0f3f5;
  --background-3: #e8eaec;

/*
  --background-1: #f8f8f8;
  --background-2: #f0f0f0;
  --background-3: #e8e8e8;
*/

  --main-font: Verdana, sans-serif;
  --monospaced-font: Consolas, monospace;

  --primary-fg-color: white;
  --primary-bg-color: var(--color-d);
  --primary-bg-color-hover: color-mix(in srgb, var(--primary-bg-color) 90%, black);
  --primary-bg-color-active: color-mix(in srgb, var(--primary-bg-color) 80%, black);

  --secondary-fg-color: white;
  --secondary-bg-color: var(--color-c);
  --secondary-bg-color-hover: color-mix(in srgb, var(--secondary-bg-color) 90%, black);
  --secondary-bg-color-active: color-mix(in srgb, var(--secondary-bg-color) 80%, black);

  --transparent-fg-color: black;
  --transparent-bg-color: #ffffff00;
  --transparent-bg-color-hover: color-mix(in srgb, var(--transparent-bg-color) 90%, #1982c4);
  --transparent-bg-color-active: color-mix(in srgb, var(--transparent-bg-color) 80%, #1982c4);

  --default-border: 1px solid var(--color-divider);
  --default-border-light: 1px solid color-mix(in srgb, var(--color-divider) 30%, white);
  --default-border-dark: 1px solid color-mix(in srgb, var(--color-divider) 80%, black);

  --default-border: 1px solid var(--color-divider);
  --default-padding: 8px 16px;
}

:root,
input,
textarea,
select,
button {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
}

.icon {
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 8px;
  margin-top: -4px;
}

.icon.right {
  float: right;
  margin-right: -4px;
  margin-left: 8px;
}
