:root {
  --top-pane-height: 48px;
  --left-pane-width: 300px;
  --vertical-margin: 16px;
  --horizontal-margin: 16px;
}

.container {
  padding: var(--vertical-margin) var(--horizontal-margin);
}

.menu-container {
  padding: var(--vertical-margin) 0;
}

#top {
  background-color: var(--background-2);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--top-pane-height);
  border-bottom: var(--default-border);
  z-index: 1;
}

#left {
  background-color: white;
  position: fixed;
  left: 0;
  width: var(--left-pane-width);
  top: var(--top-pane-height);
  bottom: 0;
  overflow-y: auto;
}

#right {
  border-left: var(--default-border);
  position: fixed;
  left: var(--left-pane-width);
  right: 0;
  top: var(--top-pane-height);
  bottom: 0;
  overflow-y: auto;
}
