#container {
}

#left {
  background-color: var(--background-1);
  position: fixed;
  left: 0;
  width: 292px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 8px 8px 32px 8px;
}

#right {
  position: fixed;
  padding-left: 8px;
  left: 308px;
  right: 0px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  padding: 8px 8px 32px 8px;
}
