/* Tabs */

nav.tabs ul {
  border-bottom: var(--default-border);
  display: block;
  list-style-type: none;
  text-indent: 0;
  padding: 0;
}

nav.tabs ul > li {
  border-bottom: 2px solid var(--transparent-bg-color);
  color: var(--transparent-fg-color);
  background-color: var(--transparent-bg-color);
  display: inline-block;
  padding: 4px 32px;
  margin: 0 8px;
  cursor: pointer;
}

nav.tabs ul > li:hover {
  background-color: var(--transparent-bg-color-hover);
}

nav.tabs ul > li:active {
  background-color: var(--transparent-bg-color-active);
}

nav.tabs ul > li.active {
  border-bottom: 2px solid var(--primary-bg-color);
}

/* Menu */

nav.menu ul {
  display: block;
  list-style: none;
  padding: 0;
}

nav.menu ul > ul {
  padding: 0 0 0 32px !important;
}

nav.menu ul > li {
  padding: var(--default-padding);
  color: var(--transparent-fg-color);
  background-color: var(--transparent-bg-color);
  display: list-item;
  list-style-type: none;
  margin: 4px 0;
  cursor: pointer;
}

nav.menu ul > li.active {
  color: var(--primary-fg-color);
  background-color: var(--primary-bg-color);
}

nav.menu ul > li.active:hover {
  background-color: var(--primary-bg-color-hover);
}

nav.menu ul > li.active:active {
  background-color: var(--primary-bg-color-active);
}

nav.menu ul > li:hover {
  background-color: var(--transparent-bg-color-hover);
}

nav.menu ul > li:active {
  background-color: var(--transparent-bg-color-active);
}
