table {
  font-family: var(--monospaced-font);
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

thead > tr > th {
  border-bottom: var(--default-border);
  padding: var(--default-padding);
  font-family: var(--main-font);
  font-weight: bold;
  text-align: left;
}

tbody > tr > td {
  padding: var(--default-padding);
}

tr:not(:last-child) > td {
  border-bottom: var(--default-border-light);
}

td:not(:first-child) {
  border-left: var(--default-border);
}

th:not(:first-child) {
  border-left: var(--default-border);
}

th:not(:first-child) {
  border-left: var(--default-border);
}

td.right {
  text-align: right;
}
